.footer-row {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .footer-column p {
    margin: 5px 0;
  }

  .footer-column1 p {
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer-column3 p {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
  }

  
  
  .footer1{
    width: 1500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(14, 9, 76);
    color:white;
    margin-top: 30px;
    padding-bottom: 10px;
  }

  a {
    text-decoration: none; /* Remove underline from all links */
  }
  
  /* Add a specific class to style only the Links */
  .link-without-underline {
    text-decoration: none; /* Remove underline */
  }

  .link-without-underline1 {
    color: aliceblue;
  }
  