.great-smile {
    color: rgb(9, 25, 148);
    font-size: 90px;
    font-weight: bold;
    margin-top: 0%;
}

.App {
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://i.pinimg.com/originals/d2/5f/60/d25f60f14ece7d93589eb9a76c28d058.gif");
    background-size: cover;
    background-position: center;
}

.one {
    width: 1600px;
    height: 200px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    background: linear-gradient(rgb(255, 253, 254),
            rgba(118, 38, 216, 0.3)),
        url("https://gifdb.com/images/high/dentist-check-up-collage-animation-kgllvuhb5c4mlqi5.gif");
    background-size: cover;
    background-position: center;
}

.two {
    width: 800px;
    height: 500px;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.logo1 {
    width: 800px;
    height: 500px;
}

.three {
    width: 500px;
    height: 550px;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(118, 38, 216, 0.3)),
        url("https://t4.ftcdn.net/jpg/05/34/94/77/360_F_534947793_3P6k8HUuX92JBnOsO6tx85FUtFpsPW0F.jpg");
    background-size: cover;
    background-position: center;
}

.four {
    width: 1400px;
    height: 300px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(192, 207, 231) , rgb(112, 113, 208));
}

.img1 {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.dental {
    font-size: 60px;
    color: rgb(20, 21, 21);
  text-shadow: 1px 1px 2px rgb(244, 237, 237), 0 0 25px rgb(0, 255, 47), 0 0 5px rgb(26, 235, 99);
  padding-top: -100px;

}

.five {
    width: 1600px;
    height: 80px;
    color: rgb(15, 14, 14);
    margin-top: 10px;
}

.six {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 100px;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(118, 38, 216, 0.3)),
        url("https://i.pinimg.com/originals/05/d1/a4/05d1a4f4da2f70f58e978a86b5717963.gif");
    background-size: cover;
    background-position: center;
}

.seven {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(118, 38, 216, 0.3)),
        url("https://i.pinimg.com/originals/05/d1/a4/05d1a4f4da2f70f58e978a86b5717963.gif");
    background-size: cover;
    background-position: center;
}

.eight {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(118, 38, 216, 0.3)),
        url("https://i.pinimg.com/originals/05/d1/a4/05d1a4f4da2f70f58e978a86b5717963.gif");
    background-size: cover;
    background-position: center;
}

.nine {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(118, 38, 216, 0.3)),
        url("https://i.pinimg.com/originals/05/d1/a4/05d1a4f4da2f70f58e978a86b5717963.gif");
    background-size: cover;
    background-position: center;
}

.ten {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(118, 38, 216, 0.3)),
        url("https://i.pinimg.com/originals/05/d1/a4/05d1a4f4da2f70f58e978a86b5717963.gif");
    background-size: cover;
    background-position: center;
}

.grp1 {
    width: 1500px;
    height: 500px;
    margin-left: 10px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://www.bentleyplazadental.com.au/images/fillings.gif");
    background-size: cover;
    background-position: center;
}

.grp2 {
    width: 1500px;
    height: auto;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(116, 156, 241, 0.7),
            rgba(210, 208, 212, 0.3)),
        url("https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
}

.topic {
    width: 1400px;
    height: 80px;
    margin-top: 30px;
    background-image: linear-gradient(rgb(250, 63, 234), rgb(232, 193, 226), rgb(253, 142, 229));
}

.topic2 {
    width: 1400px;
    height: 180px;
    margin-top: 30px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(to right, rgb(215, 233, 235),rgb(132, 189, 202),rgb(40, 189, 239),rgb(138, 117, 221),rgb(64, 64, 150),rgb(93, 29, 139),violet);
}

.fill {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.clean {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.white {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.implant {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.bridge {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.rct {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.design {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.dentures {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}

.other {
    margin-top: 10px;
    width: 300px;
    height: 380px;
}



.tone {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 100px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://www.crystaldental.ca/assets/img/preloader.gif");
    background-size: cover;
    background-position: center;
}

.ttwo {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://media.tenor.com/HLq6IZubKOEAAAAM/implant-dentistry-henderson-dentist-in-henderson.gif");
    background-size: cover;
    background-position: center;
}

.tthree {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://www.crystaldental.ca/assets/img/preloader.gif");
    background-size: cover;
    background-position: center;
}

.tfour {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 100px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://media.tenor.com/HLq6IZubKOEAAAAM/implant-dentistry-henderson-dentist-in-henderson.gif");
    background-size: cover;
    background-position: center;
}

.tfive {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://www.crystaldental.ca/assets/img/preloader.gif");
    background-size: cover;
    background-position: center;
}

.tsix {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://media.tenor.com/HLq6IZubKOEAAAAM/implant-dentistry-henderson-dentist-in-henderson.gif");
    background-size: cover;
    background-position: center;
}

.tseven {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 100px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://www.crystaldental.ca/assets/img/preloader.gif");
    background-size: cover;
    background-position: center;
}

.teight {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://media.tenor.com/HLq6IZubKOEAAAAM/implant-dentistry-henderson-dentist-in-henderson.gif");
    background-size: cover;
    background-position: center;
}

.tnine {
    width: 350px;
    height: 480px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://www.crystaldental.ca/assets/img/preloader.gif");
    background-size: cover;
    background-position: center;
}

/* .open1{
    width: 400px;
    height:200px;
    text-align: right;
    padding-top: 100px;
  }

  .open2{
    padding-left: 500px;
  }

  .open{
    width: 1300px;
    height: 600px;
    text-align: left;
    padding-left: 50px;
  } */


.open {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center items horizontally */
}

.open-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center items horizontally */
    margin-top: 20px;
    /* Adjust as needed */
}

.open-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Split into two columns */
    grid-column-gap: 20px;
    /* Adjust as needed */
}



.button-container {
    margin-top: -100px;
    /* Adjust as needed */
    margin-right: 500px;
}




.open1 {
    flex-grow: 1;
    /* Take up remaining space */
    text-align: right;
    padding-right: 100px;
    padding-top: 80px;
}

.open2 {
    margin-left: auto;
    /* Push this div to the right side */
    padding-left: 0px;
    padding-top: 50px;
}



.opn {
    width: 1400px;
    height: 600px;
    margin-top: 80px;
    margin-left: 50px;
    background: linear-gradient(rgba(47, 97, 205, 0.7),
            rgba(118, 38, 216, 0.3)),
        url("https://content.presentermedia.com/content/video/00026000/26089/dental_care_thm.mp4");
    background-size: cover;
    background-position: center;
}

.book {
    margin-top: 100px;
}

.last{
    width: 1600px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Add this to your CSS file */
a {
    text-decoration: none; /* Remove underline from all links */
  }
  
  /* Add a specific class to style only the Links */
  .link-without-underline {
    text-decoration: none; /* Remove underline */
  }
  